<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script type="text/javascript" src="./template-native.js"></script>

	<div id="show"></div>

	<script type="text/html" id="model">
		<h2>标题是 ： <%=title%></h2>
		<% if(list.length>1){ %>
			<h2>列表的个数是 <%=list.length%></h2>
			<ul>
				<% for(var i=0;i<list.length;i++) {%>
					<li>
						list序号 <%=(i+1)%>   分别是:  <%= list[i] %> 
					</li>
				<%}%>
			</ul>
		<% }%>
	</script>

	<script type="text/javascript">
		var data = {
			'title' : 'hello eyea',
			'list'  : ['Monday','Friday','Sunday']
		}

		var html = template('model',data);

		document.getElementById('show').innerHTML = html;
	</script>
</body>
</html>