<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<script type="text/javascript" src="./template.js"></script>

	<div id="show"></div>

	<script type="text/html" id="model">
		<h2>标题是 ： {{title}}</h2>
		<ul>
			{{each list as value i}}
				<li>
					序号依次是 {{i+1}}  :  {{value}}
				</li>
			{{/each}}
		</ul>
	</script>

	<script type="text/javascript">
		var data = {
			'title' : 'hello eyea',
			'list'  : ['Monday','Friday','Sunday']
		}

		var html = template('model',data);

		document.getElementById('show').innerHTML = html;
	</script>
</body>
</html>