<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-app="myApp">
<!-- 	<input type="text" name="" ng-model='name'>

	<p>{{name}}</p>

	<input type="text" name="" ng-model='name'> -->
	<!-- 两个input和p展示了双向绑定 -->
	
	<div ng-controller="myController">
		<input type="text" name="" ng-model='name'>
		{{name}}

		<!-- ng-bind -->

<!-- 		<input type="text" name="" ng-model='age'>
		<div ng-bind="age"></div> -->

<!-- 多个控制器 作用域和js是类似的-->

		<div ng-controller="secondCtr">
			<input type="next" name="" ng-model='name'>
			{{name}}
		</div>

	</div>

	





<script type="text/javascript" src='angular.js'></script>
<script type="text/javascript">
	angular.module('myApp', [])
		.controller('myController', ['$scope', function($scope){
			// function($scope)里面的参数$scope是ng的依赖注入作用域
			$scope.age = 40 || age
		}])
		.controller('secondCtr', ['$scope', function($scope){
			
		}])
</script>
</body>
</html>