<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Filter-实现实时搜索展现功能</title>
</head>
<body>
	<div ng-controller="myController">
		<p>输入过滤：</p>
		<p><input type="text" name="" ng-model='test'></p>

		<ul>
			<li ng-repeat="x in data | filter:test | orderBy:'country'">
			
				{{ (x.name) + ',' + x.country }}
			
			</li>
		</ul>
	</div>

<script type="text/javascript" src='angular.js'></script>
<script type="text/javascript">
	angular.module('myApp', [])
.controller('myController', ['$scope', function($scope){
	$scope.data = [
		{
			name:'Li',
			country:'China'
		},
		{
			name:'Wang',
			country:'USA'
		},
		{
			name:'Sun',
			country:'Japan'
		},
		{
			name:'宝宝',
			country:'USA'
		}
	]
}])
</script>
</body>
</html>