<!doctype html>
<html ng-app="myApp">
<head>
<style type="text/css">
    input.ng-invalid {
    border: 1px solid red;
  }
  input.ng-valid {
    border: 1px solid green;
  }
  .red{
    background-color: red;
  }
</style>
</head>
<body>
  
<form name="signup_form" ng-controller="FormController" ng-submit="submitForm()" novalidate>
  <div ng-repeat="field in fields" ng-form="signup_form_input">
    <input type="text"
           name="dynamic_input"
           ng-required="field.isRequired"
           ng-model="field.name"
           placeholder="{{field.placeholder}}" />
    <div ng-show="signup_form_input.dynamic_input.$dirty && signup_form_input.dynamic_input.$invalid">
      <span class="error" ng-show="signup_form_input.dynamic_input.$error.required">The field is required.</span>
    </div>
  </div>
  <button type="submit" ng-disabled="signup_form.$invalid">Submit All</button>
</form>

<!-- count -->

<div ng-controller="counter">
  <button ng-click="count = count +1" ng-init="count = 0">Increment</button>
  count: {{count}}
  <button ng-click="decreament()">Decrecment</button>
</div>

<!-- select options -->

<div ng-controller="cityController">
  <select ng-model='city' ng-options="city.name for city in cities">
    <option value="">
      Choose city
    </option>
  </select>
  Best city: {{city.name}}
</div>

<!-- ng-class -->

<div ng-controller="classController">
  <div ng-class="{red: x>5}">
    YOU WON !
  </div>
  <button ng-click="x= generateNumber()" ng-init="x=0">Draw Number</button>
  <p>Number is: {{ x }}</p>
</div>





  <script type="text/javascript" src='angular.js'></script>
  <script type="text/javascript" src='ng-form.js'></script>  
</body>
</html>