<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>github上读取用户流的方法示例</title>
</head>
<body>	
	<div ng-controller="myController">
		<label for="username">Type in a  Github username</label>
		<input type="text" name="" ng-model='username' placeholder="Enter a Github username">
		<ul>
			<li ng-repeat="event in events"></li>
			<!-- event | json -->
			<!-- {{ event.actor.login}}  {{event.repo.name}} -->
		</ul>
	</div>

	<script type="text/javascript" src='angular.js'></script>
	<script type="text/javascript" src='angular-route.js'></script>
	<script type="text/javascript" src='p115.js'></script>
</body>
</html>