<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div ng-app='myApp'>
		<div ng-controller="someController">
			{{someBarValue}}
			<button ng-click="someAction()">Communicate to child</button>
			<div ng-controller="childController">
				{{someBarValue}}
				<button ng-click='childAction()'>Communicate to parent</button>
			</div>
		</div>
	</div>	
	<hr>
	这个例子说明了，子控制器是赋复制并不是引用someBareValue
	<br>
	javascript对象要么是值复制要么是引用复制，字符串、数字、布尔型变量是值复制，对象、数组、和函数则是引用复制
	<script type="text/javascript" src='angular.js'></script>
	<script type="text/javascript" src='p61.1.js'></script>
</body>
</html>